:root {
	--primary-color: rgba(255, 255, 255, 1);
	--secondary-color: rgba(255, 255, 255, 0.8);
	--bg-color: rgba(0, 0, 0, 0.9);
	--hover-color: rgba(255, 255, 255, 0.2);
	--border-color: rgba(255, 255, 255, 0.1);
	--progress-bar-color: rgba(255, 255, 255, 0.61);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	background: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.mute {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin: 1vh auto;
	width: 100%;
	text-align: center;
	color: var(--primary-color);
	font-family: 'Quicksand';
	font-weight: 500;
	text-shadow: 0 0 20px var(--bg-color), 0 0 20px var(--bg-color), 0 0 20px var(--bg-color);
	flex-wrap: wrap;
	gap: 0.5vh;
	font-size: 1.5vh;
}

.mute p {
	margin: 0 0.3vh;
	background: var(--primary-color);
	color: var(--bg-color);
	padding: 0.5vh 0.8vh;
	border-radius: 0.3vh;
	font-weight: 900;
	text-shadow: none;
	font-size: 1.4vh;
	font-family: 'Arial', sans-serif;
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.loading {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.bgtrueblack.show {
	opacity: 1;
	transition: 2s ease-in-out all;
}

.container {
	width: 475px;
	height: 100px;
	margin: 0 auto;
	margin-top: 20%;
	opacity: 0;
	animation: entrada 1s ease-in-out forwards;
	text-align: center;
}

.progress {
	position: fixed;
	bottom: -3vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.31);
	height: 2.5vh;
	border: 0.1vh solid var(--border-color);
	border-radius: 5px;
}

.sombra {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('img/sombra.png');
	opacity: 0.5;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 5;
}

.bottom {
	left: 7%;
	width: 86%;
	position: absolute;
	bottom: 7.5vh;
	transform: translateY(10vh);
	opacity: 0;
	transition: cubic-bezier(0, 0.605, 0.145, 1.005) 2s all;
	transition-delay: 0.5s;
	z-index: 15;
}

.loading.show .bottom {
	transform: translateY(0vh);
	opacity: 1;
}

.flex-bottom {
	display: flex;
	color: var(--primary-color);
	justify-content: space-between;
	align-items: center;
}

.accediendo {
	font-family: Quicksand;
	font-size: 2.5vh;
	text-shadow: 0 0 20px var(--bg-color), 0 0 20px var(--bg-color), 0 0 20px var(--bg-color);
	font-weight: 500;
}

.barra {
	width: 50%;
	height: 100%;
	background-color: var(--progress-bar-color);
	background: linear-gradient(33deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
	background-size: 400% 400%;
	box-shadow: 0 0 20px var(--bg-color);
	border-radius: 5px 0 0 5px;
	transition: 0.25s linear all;
}

.logo {
	position: fixed;
	top: 0;
	right: 0;
	width: 10vh;
	display: none;
	z-index: 20;
	cursor: pointer;
}

.loading.show .logo {
	display: block;
}

.logo img {
	width: 100%;
	cursor: pointer;
}

.music-panel {
	position: fixed;
	bottom: 25vh;
	left: 0;
	margin: 10px;
	width: 60vh;
	padding: 5px 10px;
	-webkit-backdrop-filter: blur(65.2px);
	backdrop-filter: blur(65.2px);
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.1) 0%, rgba(79, 79, 79, 0.1) 10%, rgba(0, 0, 0, 0.1) 100%);
	border: 1.2px solid;
	border-image: radial-gradient(circle, rgba(79, 79, 79, 1) 0%, rgba(79, 79, 79, 1) 19%, rgba(79, 79, 79, 0.6) 40%, rgba(79, 79, 79, 0.91) 55%, rgba(79, 79, 79, 0.04) 96%, rgba(79, 79, 79, 0) 100%);
	border-image-slice: 1;
	z-index: 25;
	transform: translateX(-120%);
	transition: transform 0.5s ease-in-out;
}

.music-panel.show {
	transform: translateX(0);
}

.toggle-panel-btn {
	position: fixed;
	top: 45%;
	left: 0;
	transform: translateY(-50%);
	width: 30px;
	height: 60px;
	color: var(--primary-color);
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.1) 0%, rgba(79, 79, 79, 0.1) 10%, rgba(0, 0, 0, 0.1) 100%);
	border: 1.2px solid;
	border-image: radial-gradient(circle, rgba(79, 79, 79, 1) 0%, rgba(79, 79, 79, 1) 19%, rgba(79, 79, 79, 0.6) 40%, rgba(79, 79, 79, 0.91) 55%, rgba(79, 79, 79, 0.04) 96%, rgba(79, 79, 79, 0) 100%);
	border-image-slice: 1;
	border-left: none;
	border-radius: 0 5px 5px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 30;
	transition: all .7s ease;
}

.music-panel.show~.toggle-panel-btn {
	left: 61vh;
}

.music-panel.show~.toggle-panel-btn i {
	transform: rotate(180deg);
}

.music-header {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 800;
	letter-spacing: 1px;
	color: var(--primary-color);
	font-family: 'Quicksand';
	margin-bottom: 10px;
	font-size: 1.8vh;
}

.song-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.song-item {
	display: flex;
	align-items: center;
	justify-content: left;
	padding: 8px 10px;
	color: var(--secondary-color);
	font-family: 'Quicksand';
	font-size: 1.5vh;
	cursor: pointer;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	transition: background-color 0.2s ease;
}

.song-item:hover {
	background-color: var(--hover-color);
}

.song-item::before {
	/* Código Unicode para una nota musical 🎵 */
	content: '\266A';
	margin-right: 10px;
}

.song-item.active {
	background-color: var(--hover-color);
	color: var(--primary-color);
	font-weight: bold;
}

.music-controls {
	position: absolute;
	bottom: -50vh;
	transition: bottom 1s ease-in-out;
	left: 0;
	margin: 10px;
	display: flex;
	align-items: center;
	width: 60vh;
	padding: 5px 10px;
	-webkit-backdrop-filter: blur(65.2px);
	backdrop-filter: blur(65.2px);
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.1) 0%, rgba(79, 79, 79, 0.1) 10%, rgba(0, 0, 0, 0.1) 100%);
	border: 1.2px solid;
	border-image: radial-gradient(circle, rgba(79, 79, 79, 1) 0%, rgba(79, 79, 79, 1) 19%, rgba(79, 79, 79, 0.6) 40%, rgba(79, 79, 79, 0.91) 55%, rgba(79, 79, 79, 0.04) 96%, rgba(79, 79, 79, 0) 100%);
	border-image-slice: 1;
	z-index: 25;
}

.loading.show .music-controls {
	bottom: 15vh;
}

.music-controls span {
	color: var(--primary-color);
	cursor: pointer;
	transition: color 0.2s ease;
}

.music-controls span:hover {
	color: var(--hover-color);
}

.prev-btn,
.next-btn {
	font-size: 3vh;
	width: 3vh;
	color: var(--primary-color);
	cursor: pointer;
	transition: color 0.2s ease;
}

.prev-btn {
	margin-right: 1.2vh;
}

.play-btn {
	font-size: 3vh;
	width: 3vh;
	color: var(--primary-color);
	cursor: pointer;
	transition: color 0.2s ease;
}

.barra-tiempo {
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 50%;
}

.song-info {
	font-weight: 800;
}

.progress-bar-container {
	flex-grow: 1;
	height: 1vh;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 0.5vh;
	margin: 7px 2vh;
	cursor: pointer;
}

.time-container {
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	margin-left: 20px;
	margin-right: 20px;
}

.progress-bar {
	width: 0%;
	height: 100%;
	background-color: white;
	border-radius: 0.5vh;
	transition: width 0.1s linear;
}

.progress-bar:hover {
	color: var(--hover-color);
}

.volume-container {
	gap: 1vh;
	display: flex;
}

.volume-icon {
	font-size: 3vh;
	width: 3vh;
	margin-right: 1vh;
	color: var(--primary-color);
}

.volume-slider {
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-appearance: none;
	background: transparent;
}

.volume-slider::-webkit-slider-runnable-track {
	width: 100%;
	height: 0.5vh;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 0.5vh;
}

.volume-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 1.5vh;
	width: 1.5vh;
	border-radius: 50%;
	background: white;
	margin-top: -0.5vh;
}

.volume-slider::-webkit-slider-thumb:hover {
	color: var(--hover-color);
}

.dot-1 {
	animation: fadeInDot 2s ease-in-out infinite;
	animation-delay: 0.2s !important;
	display: inline-block;
}

.dot-2 {
	animation-delay: 0.4s !important;
	animation: fadeInDot 2s ease-in-out infinite;
	display: inline-block;
	margin-left: -0.1vh;
}

.dot-3 {
	animation-delay: 0.6s !important;
	animation: fadeInDot 2s ease-in-out infinite;
	display: inline-block;
	margin-left: -0.1vh;
}

.ticker-wrap {
	position: absolute;
	bottom: 4.5vh;
	width: 100%;
	overflow: hidden;
	color: var(--primary-color);
	text-shadow: 0 0 10px var(--bg-color);
	font-family: 'Quicksand';
}

.ticker-wrap .ticker {
	display: inline-block;
	white-space: nowrap;
	padding-left: 100%;
	animation: ticker 30s linear infinite;
}

.ticker-wrap .ticker-text {
	font-size: 1.5vh;
}

































@keyframes ticker {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-100%, 0);
	}
}

@keyframes entrada {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 100;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 100;
	}
}

@keyframes fadeInDot {
	0% {
		opacity: 0;
	}

	30% {
		opacity: 1;
	}
}

@media (width: 2560px) and (height: 1080px) {
	.container {
		margin-top: 11% !important;
	}
}